/* ---------------- Normalize  ---------------- */
.progress,sub,sup{vertical-align:baseline}.block,.elem-left,.elem-right,article,aside,details,figcaption,figure,footer,header,hr,main,menu,nav,section,summary{display:block}hr,sub,sup{position:relative}body,figure{margin:0}button,hr,input,select{overflow:visible}[type=checkbox],[type=radio],legend{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-box-sizing:border-box;box-sizing:border-box; font-size: 100%;}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:0 0 .67em}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:60%;line-height:0}sub{bottom:-.25em}sup{top:-.45em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;border:0}button,input,select,textarea{font:inherit;line-height:initial;margin:0}optgroup{font-weight:700}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button;border:0}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}button:-moz-focusring,input:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}

/* ---------------- Animations  ---------------- */
.animated{-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}@-webkit-keyframes slideIn{from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes slideIn{from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@-webkit-keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}@-webkit-keyframes fadeInRight{from{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInRight{from{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight}@-webkit-keyframes fadeInLeft{from{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInLeft{from{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}

/* ---------------- Global Styles  ---------------- */
*,*::before,*::after{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale;} 
.clearfix:before,.clearfix:after{display:table;content:" "}.clearfix:after{clear:both}
address {font-style: normal!important} img {max-width:100%; display: block; margin: 0 auto}.icon-gplus:before {margin-left: -1px!important}
@media (min-width:1001px) {a[name]:before {height: 80px; margin-top: -80px; display: block; content: ""; visibility: hidden;}}
a, *::before, *::after, img, figure, article, li, #fixed-tabs, #header, #banner, 
h1, h2, h3, h4, h5, h6, .btn, .btn-alt, .btn:before, .btn-alt:before {-webkit-transition:all .2s;  -webkit-transition: all .2s;  transition: all .2s;}
*, *::before, *::after {-webkit-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
[class*=" icon-"]:before, [class^=icon-]:before { line-height: 1!important; display: block!important }
img {max-width: 100%;}
.flex-ed, .col-flex-ed { display: -webkit-box; display: -ms-flexbox; display: flex; }
.flex-ed {-webkit-box-orient: horizontal; -webkit-box-direction: normal; }
.col-flex-ed {-webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column;  -ms-flex-flow: column; }
.star:before{font-size:1em;font-family:'fontello';font-weight:400;margin:0;font-style:normal;content:'\e80f \e80f \e80f \e80f \e80f';color:#fce013;padding-right:10px}

/* ---------------- Variables ---------- */
$primary: #aac60c;
$secondary: #146fa4;
$text: #303030;
$font: "Lato", sans-serif;
$font2: "Oswald", sans-serif;

/* ---------------- Fixed Tabs ---------------- */
@media (min-width: 1031px) {
    #fixed-tabs{display:none}
}
@media (max-width: 1030px) {
    #fixed-tabs{position:fixed;right:0;text-align:center;line-height:1;font-size:0;z-index:101; bottom:0;width:100%;box-shadow:0 0 15px rgba(0,0,0,0.3); display:flex;
       a{padding:13px 0;flex:1; font-size:13px;font-weight:700;font-family: $font;background-color: darken($secondary, 10%);color:#fff;text-transform:uppercase; 
          span{display:inline-block;vertical-align:middle;} 
           &:nth-of-type(2){background-color:darken($primary, 10%); }
        }
       i{font-size:16px; margin-right: 5px;display: inline-block;}
    }
    footer{padding-bottom:55px}
}
@media (max-width: 600px) {
    #fixed-tabs {
        strong{display:none}
        a span:last-child{margin-left:0}
    }
}

/* ---------------- Page Foundation ---------- */
body { position: relative; background-color: #fff; font: 400 17px/1.4117 $font; text-align: center; }
p {font: 400 18px/1.666 $font; color: $text;}
a { display: inline-block; text-decoration: none; cursor: pointer; color: $primary;  &:hover {color: $secondary;} }
h1, h2, h3, h4, h5, h6 {font-family: $font2; font-weight: 400; text-align: center;}
h1 { 
    margin: 0;  text-transform: uppercase;
    text-shadow: 0.8px 2.9px 7px rgba(1, 29, 38, 0.84);
    color: white;  letter-spacing: 5px;
    font-size: 59px; font: 400 59px/1.1 $font2; 
    span:first-of-type {font-size: 28px; font-weight: 300; font-family: $font; letter-spacing: 8px; display: block;}
    span:last-of-type {font-size: 46px; color: #fce013; display: block; font-weight: 300; font-family: $font; text-transform: none; letter-spacing: 0;}
}
h2 { color: $text;  text-align: left; font-size: 43px; font-weight: 400; line-height: 1.2; letter-spacing: 4.31px; text-transform: uppercase; }
h3 { font-size: 32px; line-height: 1.41; }

header { position: relative;  box-shadow: 1.5px 2.6px 7px rgba(0, 0, 0, 0.15); z-index: 100;
    background-color: white; padding: 10px 5px;
    .flex-ed {justify-content: space-between; align-items: center; max-width: 1350px; margin: auto;}
    .btn-alt {display: table; margin: 0;  order: -1;}
}
address {
    a{ display: block; text-align: right; }
    .phone {color: $primary;  font:700 39px/1.2 $font;
        &:hover { color: $secondary; }
    }
    .phy {color: $text;  font: 400 20px/1.2 $font;
        &:hover { color: $secondary;  }
    }
}
.fix-nav {
    header {position: fixed;width: 100%;left: 0;top: 0;right: 0;animation-duration: .8s; animation-fill-mode: both; animation-name: slideIn; 
    .logo img {max-height: 80px;}
    }
    address .phone {font-size: 30px;}
}


/*  -------------- Buttons ----------------- */
.btn, .btn-alt {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-style: normal!important;
    margin: 10px auto;
    background-color: $primary;
    color: white; min-width: 225px; box-shadow: 1px 1.7px 5px rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    box-shadow: inset 0px -3px 0 1px darken($primary, 8%);
    font: 700 16px/2 $font; text-transform: uppercase;
    text-shadow: 0.6px 1.9px 6px rgba(3, 3, 3, 0.35);
    transition: all ease 0.8s;
    padding: 8px 25px;
    span { font-weight: 700;  }
    &:hover { background-color: $secondary; color: #fff;  box-shadow: inset 0px -3px 0 1px darken($secondary, 8%);}
}
.btn-alt:after { content: '\e937'; font-family: fontello; color: #fff; display: inline-block; margin-left: 10px; font-size: 1.25em; }

/* -------------- Banner ----------------- */

#banner { background: $secondary url(assets/images/lp-children-texture.jpg); background-size: cover; position: relative; padding:0; overflow: hidden;
    .flex-ed {max-width: 1500px; margin: auto; position: relative;}
    figure { order: -1; align-self: flex-end; position: relative;  margin: -100px -140px -60px -220px;}
    article {position: relative; max-width: 100%; z-index: 10; margin-top: 20px; padding: 10px;}
    h1 {margin: 20px auto;}
    ul {display: table; margin: 20px auto; list-style: none;
        li { list-style: none; padding-left: 50px;
            color: white; font: 400 35px/1.714 $font; text-align: left; position: relative;
            &:before {content: ''; width: 50px; height: 50px; position: absolute; left: 0; top: 5px; background: url(assets/images/lp-children-banner-checks.png) no-repeat;  background-size: contain;}
        }
    }
}
#stamp {position: absolute; left: 350px; right: 0; margin: auto; bottom: 80px;}

/* ---------------- Reviews --------------- */

#reviews {position: relative; background-color: #f7f6f1; padding: 40px 0; align-items: center;
     > .flex-ed { max-width: 1130px; margin: auto; padding: 0 10px;}
    h2{margin: 10px auto; max-width: 200px; text-align: center;}
    .btn{align-self: center; line-height: 1; padding: 10px 10px; min-width: 155px; letter-spacing: -1.5px;
        span{display: block; font-size: 41px; letter-spacing: 0; }
    }
}
#review-container { background-color: #fff;  box-shadow: 2.3px 2px 7px rgba(2, 2, 2, 0.25);
    max-width: 615px; color: $text; padding: 0; margin: 0 auto;
}
#google {
    background-color: #dd5048; padding: 20px 10px; display: flex; flex-direction: column; align-items: center; justify-content: center; color: #fff; font-size: 30px;
}
.quote { min-width: 300px; flex: 1 1 670px; padding:  0 20px; text-align: center; margin: auto;
    p { margin-bottom: 10px; color: #303030; font: 400 17px/26px 'Lato', sans-serif;}
    author { color: #303030; font: 700 19px/26px 'Lato', sans-serif; text-transform: uppercase;}
}

/* ------------ Split Sections ------------- */
.split {display: flex;flex-wrap: nowrap; align-items: center; justify-content: space-around; overflow: hidden; padding: 60px 10px; position: relative; max-width: 1100px; margin: auto;
    article {flex: 0 1 600px; text-align: left; padding: 10px;
        h2 {margin: 0;}
        p {text-align: justify;}
    }
    figure {position: relative; flex: 0 1 360px; margin-left: 30px;  order: -1; margin: 0 30px 0 0;
        &:before {content: ''; background: url(assets/images/lp-children-deco.png) no-repeat; position: absolute; top: -40px; right: -20px; height: 115px; width: 86px; background-size: contain; z-index: 2;}
        img {position: relative; z-index: 1; border: 5px solid white; box-shadow:  3px 1px 10px rgba(0, 0, 0, 0.3); margin: auto;}
    }

    .btn { text-align: center; margin-left: 0; }
}
.alt {background-color: #f7f6f1;
    .split {
        figure {order: 1; margin-left: 50px; 
            &:before {top: auto; right: auto; left: -30px; bottom: -20px;  }
        }
    }
}


/* ---------------- Footer --------------- */
footer {
    padding-top: 40px; position: relative;  background: #2c2c2c linear-gradient(to right, #2c2c2c 0%, #2c2c2c 0.5%, #474747 50%, #2c2c2c 99.5%, #2c2c2c 100%);
    .flex-ed { max-width: 1200px; margin: auto; justify-content: space-between;  align-items: flex-start; padding: 0 10px;}
    h2{
        color: white; font: 600 68px/1.2 $font2; text-transform: uppercase; text-align: center; margin: 20px 0 30px; letter-spacing: 0; }
    .phone {color: #fff; font: 700 30px/1 $font; display: block; text-align: center; margin: 20px auto 30px; display: table; position: relative; padding-left: 5px;} 
    .icon-phone {display: inline-block; font-size: 16px;  margin-top: 7px; background-color: #fff; color: $primary; padding: 5px 0; border-radius: 5px;     margin-left: -5px; margin-right: 20px; transform: scale(.6); }
    .phone:before, .phy:after {content: ''; position: absolute; left: -7px;
        top: 2px;  width: 38px; height: 38px; background-color: $primary;  box-shadow: inset 0px -3px 0 1px darken($primary, 8%); border-radius: 20px;} 
    .phy {color: #fff; font: 400 18px/1.3 $font; position: relative; margin: 0 auto 25px; display: table; padding-left: 15px;  text-align: left; 
        &:before {content:"\e809"; color: #fff;  font-size:18px; position:absolute;
            left: -20px; top: 10px; font-family:"fontello"; z-index: 5;
        }
    }
    .phy:after {left: -33px; top: 3px;}
    .phone:hover, .phy:hover  {color: $primary;}
    article { 
        position: relative;background: $secondary; 
        padding: 20px 5px; min-width: 320px; margin: auto;
    }
    article:after, article:before, 
    figure:before, figure:after {
      background-color: inherit; position: absolute; content: ''; display: block;
      height: 5%; left: 0; right: 0;bottom: -10px; transform: skewY(1.5deg);transform-origin: 100% 0;
    }
    article:before, figure:after { top:-10px;  transform: skewY(-1.5deg);  transform-origin: 100%; z-index: -1; }
    article:first-of-type {padding: 60px 5px;}
    article:last-of-type {padding: 40px 5px;}
    .title {
        color: #fff; text-transform: uppercase;
        font: 400 19px/1.1 $font2;
        margin: 0 auto 10px; letter-spacing: 2px; 
        span {color: #fcde3f;}
    }
    figure {color: white; margin-top: 10px; flex: 0 1 380px;  background: #146fa4 ;  padding: 20px; position: relative; margin: 10px;}
    iframe {margin: 5px auto 0; }
}
.copy {margin-top: 40px;color: #fff; font: 300 12px/1.1 $font; text-transform: uppercase;  padding: 70px 0 30px; 
    a, p { margin: auto; font: 300 12px/1.4 $font; text-transform: uppercase; color: white; }
    p {max-width: 850px; margin: auto; padding-top: 10px;}
    a:hover { color: $primary; }
}


/* ---------------- Simple Form ---------------- */
.simple {line-height: 1; font-size: 16px; max-width: 270px; margin: auto;
    input, textarea {
        border: 0; 
        padding:0 15px; 
        margin-bottom: 7px; 
        width: 270px;
        height: 32px;
        background-color:#115379;
        color: #fff;
        font: 400 13px/40px $font; 
        &:focus { outline: 0; background-color: rgba(14, 72, 108, 1); }
    }
    textarea { height: 80px !important; }
    button:focus {outline-color: $primary;}
    ::-webkit-input-placeholder { color: #fff; font: 400 14px/40px $font; }
}

/* ---------------- New Patient Form ---------------- */
#lp-appointment-form { max-width: 800px; padding: 10px; margin: 40px auto;
    h1 {font-size: 50px; margin: 10px auto 30px; color: $secondary; text-shadow: none; }
    p {max-width: 680px; margin: auto; margin-bottom: 30px;}
    .simple { margin: 40px auto 20px; max-width: 500px; }
    label {display: none;}
    input, textarea {
        width: 100%; display: table; margin: 10px auto;
        background-color: #d3d3d3; box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.5); 
        color: #000; border-radius: 5px; height: 50px !important; 
    }
    textarea {  margin-bottom: 30px; height: 145px !important }
    input:focus, textarea:focus {background-color: #e3e3e3;}
    ::-webkit-input-placeholder {color: $text;  }
}


/* ---------------- Media Queries ---------------- */

@media (max-width: 1300px) { 
    h1 {font-size: 60px;
        span {font-size: 50px;}
        span:last-of-type {font-size: 40px;}
    }
}

@media (max-width: 1160px) {
    #banner figure {margin: -100px -210px -60px -220px;}
    #banner ul li {font-size: 28px; &:before {width: 40px; height: 40px;}}
}
@media(max-width: 1080px) {
    h1 {font-size: 50px; letter-spacing: 2px;}
    #banner figure {margin: -100px -220px -60px -280px;}
}

@media(max-width: 1000px) {
    header {
        .btn-alt {order: 1;}
        .phy {display: none;}
        .phone {font-size: 20px;}
    }
    #banner {
        .flex-ed {-ms-flex-wrap: wrap;flex-wrap: wrap; }
        figure {-webkit-box-ordinal-group: 1;-ms-flex-order: 0;order: 0; margin: -90px auto -40px;}
        article {margin: auto;}
        ul li {font-size: 30px; margin-bottom: 8px;}
    }
    #stamp {left: auto; right: 20px;}
    h2 {text-align: center; margin: 10px auto;}
    .split {display: block; padding: 40px 10px;
        figure { display: table; margin: 20px auto;}
        article {-webkit-box-flex: 0;-ms-flex: 0 1 750px;flex: 0 1 750px;
            h2, p {text-align: center;}
        }
        .btn {display: table; margin: 20px auto;}
    }
    .alt .split figure {margin: 20px auto;}
    #reviews {display: block;  padding: 20px 0;
        > .flex-ed {flex-wrap: wrap;}
        h2 {max-width: 100%; text-align: center;}   
        .btn {margin-top: 20px;}
    }
    #review-container {margin-top: 20px;}
    footer { position: relative; z-index: 10; margin-top: -25px;
        .flex-ed {justify-content: space-around;flex-wrap: wrap;}
        h2 {font-size: 42px; }
        .phy {margin: auto; padding-bottom: 20px; }
        figure { order: 1; flex: 0 1 600px; margin: 10px 0;}
        article, .simple {flex: 0 1 600px; max-width: 100%; margin-bottom: 30px;}
        .simple input, .simple textarea {width: 95%;}
        article:first-of-type {padding: 30px 5px;}
        article:last-of-type {margin: 30px auto;}
    }
    .copy {padding-top: 30px;}
}

@media (max-width: 750px) {
    header .flex-ed {flex-wrap: wrap; justify-content: space-around;}
    header .logo {flex: 1 1 100%; margin-bottom: 8px;}
    #banner figure { margin: -70px 0 -40px -120px;}
    #stamp {right: 10px; max-width: 200px;}
    #lp-appointment-form h1 {font-size: 36px}
}
@media (max-width: 590px) {
    h1 {font-size: 40px; letter-spacing: .4px;
        span, span:last-of-type {font-size: 32px;margin: 8px auto; }
    }
    h2{font-size: 36px;}
    #banner ul {padding-left: 0;
        li {font-size: 24px; margin-bottom: 10px; line-height: 1.3; padding-left: 40px;
            &:before { width: 30px; height: 30px; top: 0; }
        }
    }
    footer {
        h2 {font-size: 30px;}
        figure {display: none;}
    }
    .copy {padding: 10px; 
        span:first-of-type {display: block; font-size: 0px; }
    }   
}
@media (max-width: 490px) {
    header .btn-alt {margin-top: 8px;}
    h1 span:first-of-type, h2 {letter-spacing: .4px;}
    #banner figure { margin: -50px 0 0px -180px;}
    #stamp {bottom: 30px;}
    #review-container {display: block;}
    .split figure:before {display: none;}
}
@media (max-width: 390px) {
    header .btn-alt {font-size: 15px;}
    #banner {
        h1 {margin-top: 20px; font-size: 36px;
            span {font-size: 26px; }
        }
        ul li {font-size: 20px;
            &:before { width: 25px; left: 10px; } 
        }
    }
    footer {
        h2 {font-size: 28px;}
        .phone {font-size: 26px;}
    }
}




